body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

html {
    height: -webkit-fill-available;
}

main {
    display: flex;
    flex-wrap: nowrap;
    height: -webkit-fill-available;
    height: 100vh;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #0d1117;
    color: #c9d1d9;
}

.nav-tabs .nav-link.active {
    color: #c9d1d9;
    border-bottom: 2px solid #f78166;
    font-weight: bold;
}

.nav-tabs {
    border-bottom: 1px solid #21262d;
}

.dropdown-toggle {
    outline: 0;
}

.nav-flush .nav-link {
    border-radius: 0;
}

.scrollarea {
    overflow-y: auto;
}

.fw-semibold {
    font-weight: 600;
}

.lh-tight {
    line-height: 1.25;
}

.bg-get,
.bg-post,
.bg-put,
.bg-delete,
.bg-http,
.bg-https,
.bg-status-1,
.bg-status-2,
.bg-status-3,
.bg-status-4,
.bg-status-5 {
    color: white;
}

.badge {
    background-color: #888;
}

.bg-get {
    background-color: #65be00;
}

.bg-post {
    background-color: #FFA000;
}

.bg-put {
    background-color: #1976D2;
}

.bg-delete {
    background-color: #E64A19;
}

.bg-replay-badge {
    background-color: #8b251d;
}

.replay-badge > img {
    width: 10px;
    height: 9px;
    vertical-align: baseline;
}

.bg-status-1 {
    background-color: #616161;
}

.bg-status-2 {
    background-color: #689F38;
}

.bg-status-3 {
    background-color: #F57C00;
}

.bg-status-4 {
    background-color: #F44336;
}

.bg-status-5 {
    background-color: #D32F2F;
}

.mr-3 {
    margin-right: 3px;
}

.mr-4 {
    margin-right: 4px;
}

.cursor-default {
    cursor: default !important;
}

#sidebar {
    margin: 10px 0 10px 10px;
    /* width: 320px; */
    width: 280px; 
}

#body {
    display: flex;
    overflow: auto;
    width: 100%;
}

#records {
    cursor: default;
    border-radius: 4px;
    overflow: hidden;
}

#records .scrollarea {
    max-height: 100%;
}

#records .list-group-item {
    background-color: #fefefe;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

#records .list-group-item.active {
    color: #fff;
    background-color: #444;
    border-color: #444 !important;
    cursor: default;
}

#records .small {
    width: 100%;
    text-align: right;
    white-space: nowrap;
}

#records .request-path {
    font-family: monospace;
}

#records .request-query:hover {
    background-color: #689F38;
}

#records.loading {
    height: 100%;
}

.loading {
    background-color: #f7f7f7;
    background: linear-gradient( 100deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, 0) 60% ) #f7f7f7;
    background-size: 200% 100%;
    background-position-x: 180%;
    animation: 1s loading ease-in-out infinite;
}

@keyframes loading {
    to {
        background-position-x: -20%;
    }
}
  
.container-fluid {
    margin: 5px;
}

.card {
    margin: 5px;
    padding: 0 10px;
    background-color: #0d1117;
    border-color: #30363d;
    border-radius: 6px;
    transition: .3s cubic-bezier(0, 1, 0.3, 1) margin;
}

.card .btn-toolbar {
    margin-top: -10px;
}

.card.maximized {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    margin: 0;
    border-radius: 0;
    z-index: 1000;
}

.input-search {
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 4px;
    color: #858e98;
    border: 1px solid #30363d;
    font-size: 14px;
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
}

.maximize-btn {
    margin-top: 3px;
    cursor: pointer;
}

.input-group>input {
    background-color: #f6f6f6 !important;
    color: #656565;
    font-size: 14px;
    font-family: monospace;
}

.input-group>span {
    font-weight: bold;
}

.table {
    word-break: break-all;
    font-size: 12px;
}

.table th[scope="remove"] {
    width: 24px;
}

.table th[scope="name"] {
    width: 150px;
}

.table textarea {
    width: 100%;
    outline: none;
}

textarea.auto-resize {
    overflow: hidden;
    resize: none;
    height: 25px;
}

.base64-viewer {
    background-size: 20px;
    background-image: url(../images/transparent.svg);
    background-repeat: repeat;
    height: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.base64-viewer > * {
    max-width: 100%;
    max-height: 100%;
}

.centered-title {
    width: 100%;
    text-align: center;
    background-color: #a4bad8;
    border-bottom: 1px solid #30363d;
    border-radius: 4px;
    padding: 4px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.transparent {
    background-size: 20px;
    background-image: url(../images/transparent.svg);
    background-repeat: repeat;
}

.dashboard-button {
    cursor: pointer;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 4px;
    color: #444;
}

.dashboard-button:hover {
    background-color: #f9f9f9;
}

.dashboard-button.active {
    cursor: default;
    background-color: #444;
    color: #eee;
}

.card-shadow {
    /* box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%); */
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 0 0 rgb(0 0 0 / 24%);
}

.col-custom-6 {
    padding: 0;
}

.clickable-img {
    cursor: pointer;
}

.square-24 {
    width: 24px;
    height: 24px;
}

.inline-flex {
    display: inline-flex;
}

@media (min-width: 1460px) {
    .row-custom {
        overflow: hidden;
        height: 100%;
    }

    .col-custom-6 {
        flex: 0 0 auto;
        width: 50%;
        height: 100%;
    }

    #record-viewer .card {
        overflow: auto;
        height: calc(100% - 10px);
    }
}