#app[data-theme="dark"] {
    color-scheme: dark;
    --background-color: #111;
    --color: #a9b1b9;
    --divider-border-color: #21262d;
    --scrollbar-background-color: #6b6b6b;
    --scrollbar-track-color: #222;

    --border-radius: .25rem;
    --margin: .5rem;
    --font-monospace: var(--bs-font-monospace);
}

#app[data-theme="dark"] #sidebar, 
#app[data-theme="dark"] #body {
    --background-color: #0d1117;
    --background-w-alpha-color: #0d1117fa;
    --border-color: #2d3239;
    --active-background-color: #13233a;
    --active-border-color: #224d88;
}

#app[data-theme="dark"] #sidebar {
    --search-color: #858e98;
    --hover-search-background-color: #ad884611;
    --hover-search-border-color: #ad8846;
}

#app[data-theme="dark"] .inline-tabs {
    --active-tab-border-color: #f78166;
    --tab-color: #b2b9c0;
}

#app[data-theme="dark"] .highlighted-group {
    --input-background-color: #0b1525;
}

#app[data-theme="dark"] .modal {
    --modal-max-width: 1000px;
}

#app[data-theme="dark"] .table {
    --border-color: #161b22;
    --body-color: #8b949e;
}

#app[data-theme="dark"] .badge {
    --background-color: #8885;
    --color: #fff;
    --border-color: #222;

    --green: #65be00;
    --orange: #FFA000;
    --blue: #1976D2;
    --red: #E64A19;
    --wine: #ab0f05;
    --purple: #9C27B0;
    --gray: #616161;
    --dark-green: #689F38;
    --dark-orange: #F57C00;
    --dark-red: #F44336;
    /* --wine: #D32F2F; */

    --alt-green: #36650155;
    --alt-orange: #FFA00055;
    --alt-blue: #1976D255;
    --alt-red: #E64A1955;
    --alt-wine: #8b251d55;
    --alt-purple: #751d8b55;
    --alt-gray: #61616155;
    --alt-dark-green: #689F3855;
    --alt-dark-orange: #F57C0055;
    --alt-dark-red: #F4433655;
}