#app[data-theme="light"] {
    color-scheme: light;
    --background-color: #f6f8fa;
    --color: #1F2328;
    --divider-border-color: #d8dee4;
    --scrollbar-background-color: #969696;
    --scrollbar-track-color: #e8e8e8;

    --border-radius: .25rem;
    --margin: .5rem;
    --font-monospace: var(--bs-font-monospace);
}

#app[data-theme="light"] #sidebar, 
#app[data-theme="light"] #body {
    --background-color: #fff;
    --background-w-alpha-color: #fffffffa;
    --border-color: #d0d7de;
    --active-background-color: #e8ecef;
    --active-border-color: #919191;
}

#app[data-theme="light"] #sidebar {
    --search-color: #858e98;
    --hover-search-background-color: #ad884611;
    --hover-search-border-color: #ad8846;
    
    --sidebar-width: 290px;
    --sidebar-1st-row-height: 35px;
    --sidebar-2nd-row-height: 50px
}

#app[data-theme="light"] .inline-tabs {
    --active-tab-border-color: #f78166;
    --tab-color: var(--color);
}

#app[data-theme="light"] .highlighted-group {
    --input-background-color: #fff;
}

#app[data-theme="light"] .modal {
    --modal-max-width: 1000px;
}

#app[data-theme="light"] .table {
    --border-color: #e5e5e5;
    --body-color: #555;
}

#app[data-theme="light"] .badge {
    --background-color: #8885;
    --color: #fff;
    --border-color: #222;

    --green: #65be00;
    --orange: #FFA000;
    --blue: #1976D2;
    --red: #E64A19;
    --wine: #ab0f05;
    --purple: #9C27B0;
    --gray: #616161;
    --dark-green: #689F38;
    --dark-orange: #F57C00;
    --dark-red: #F44336;

    --alt-green: var(--green);
    --alt-orange: var(--orange);
    --alt-blue: var(--blue);
    --alt-red: var(--red);
    --alt-wine: var(--wine);
    --alt-purple: var(--purple);
    --alt-gray: var(--gray);
    --alt-dark-green: var(--dark-green);
    --alt-dark-orange: var(--dark-orange);
    --alt-dark-red: var(--dark-red);
}

#app[data-theme="light"] .box,
#app[data-theme="light"] .sidebar-btn,
#app[data-theme="light"] .input-search,
#app[data-theme="light"] #record-list {
    box-shadow: 0 3px 6px rgba(140,149,159,0.15);
}

#app[data-theme="light"] .svg-icon {
    filter: brightness(.7);
}