<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="assets/images/dashboard.svg" type="image/svg+xml">

    <link href="assets/vendor/bootstrap/bootstrap.min.css" rel="stylesheet">

    <title>Dashboard</title>

    <link href="assets/styles/app.css" rel="stylesheet">
    <link href="assets/styles/darktheme.css" rel="stylesheet">
</head>

<body>
    <main id="app">
        <div id="sidebar" class="d-flex flex-column flex-shrink-0">
            <div class="d-flex">
                <div class="d-flex p-3 me-2 card-shadow dashboard-button" :class="{ active: !selectedRecord }" @click="selectedRecord = null">
                    <img class="bi" src="assets/images/dashboard.svg" alt="dashboard" style="width: 24px">
                </div>
                <div class="d-flex" style="width: 100%;">
                    <input class="p-3 card-shadow input-search" v-model="inputSearch" :class="{ active: inputSearch !== '' }" placeholder="Search..." type="search" spellcheck="false">
                </div>
            </div>
            <div id="records" class="card-shadow" :class="{ loading: recordList.length === 0 }">
                <div class="list-group list-group-flush scrollarea">
                    <sidebar-item
                        v-for="record in filteredRecordList"
                        :record="record"
                        :key="record.id"
                        :class="{ active: isSelectedRecord(record) }"
                        @click="show(record)"
                    ></sidebar-item>
                </div>
            </div>
        </div>
        <div id="body">
            <dashboard v-show="!selectedRecord" :info="info"></dashboard>
            <record-viewer id="record-viewer" v-if="selectedRecord" :record="selectedRecord"></record-viewer>
        </div>
    </main>
    <script>

    </script>
    <script src="assets/vendor/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="assets/vendor/vue/vue.global.prod.js"></script>
    <script src="assets/vendor/fuse/fuse.min.js"></script>

    <script src="assets/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="assets/scripts/app.js"></script>

    <script src="components/SidebarItem.js"></script>
    <script src="components/Dashboard.js"></script>
    <script src="components/RequestSubmitter.js"></script>
    <script src="components/RecordViewer.js"></script>

    <script>
        app.vue.mount('#app')
    </script>
</body>

</html>