name: Build, Test and Release

on:
  push:
    branches:
      - release/*
      - hotfix/*
    tags:
      - 'v*'
  pull_request:
    branches:
      - main
      - develop
  workflow_dispatch:
jobs:
  build:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            osName: linux
            arch: x64
          - os: windows-latest
            osName: windows
            arch: x64
            extension: .exe
          - os: macos-latest
            osName: darwin
            arch: arm64
          - os: macos-15-intel
            osName: darwin
            arch: x64
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Go 1.25
        uses: actions/setup-go@v6
        with:
          go-version: 1.25

      - name: Extract Version from Tag
        shell: bash
        run: echo "version=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      # Replace {{ VERSION }} token
      - name: Replace {{ VERSION }} token
        shell: bash
        run: |
          if [[ "${{ matrix.os }}" == macos* ]]; then
            sed -i '' "s/{{VERSION}}/${{ env.version }}/g" ./internal/app/client/app/settings.go
            sed -i '' "s/{{VERSION}}/${{ env.version }}/g" ./internal/app/server/app/settings.go
          else
            sed -i "s/{{VERSION}}/${{ env.version }}/g" ./internal/app/client/app/settings.go
            sed -i "s/{{VERSION}}/${{ env.version }}/g" ./internal/app/server/app/settings.go
          fi
    
      # Build Client
      - name: Build Client
        working-directory: ./cmd/client
        run: |
          go build -o woole${{ matrix.extension }} .
          ./woole${{ matrix.extension }} --help

      # Build Server
      - name: Build Server
        working-directory: ./cmd/server
        run: |
          go build -o woole-server${{ matrix.extension }} .
          ./woole-server${{ matrix.extension }} --help

      # Create ZIP file
      - name: Zip binaries (Unix)
        if: runner.os != 'Windows'
        run: |
          zip -j woole-${{ env.version }}-${{ matrix.osName }}-${{ matrix.arch }}.zip ./cmd/client/woole ./cmd/server/woole-server

      - name: Zip binaries (Windows)
        if: runner.os == 'Windows'
        run: |
          Compress-Archive -Path (Resolve-Path ./cmd/client/woole.exe), (Resolve-Path ./cmd/server/woole-server.exe) -DestinationPath "woole-${{ env.version }}-${{ matrix.osName }}-${{ matrix.arch }}.zip"

      # Upload ZIP to release
      - name: Upload Release Asset
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v1
        with:
          files: woole-${{ env.version }}-${{ matrix.osName }}-${{ matrix.arch }}.zip
          fail_on_unmatched_files: true
          prerelease: ${{ contains(github.ref, '-nightly') }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
